.logo {
	width: 180px;
}
.nav-link.active {
	color: #985eb5 !important;
	font-weight: bold;
}

.social-icons{
	font-size: 24px !important;
}


.app-fieldset {
	padding: 20px;
	border: 1px solid #d0d0d0;
	border-radius: 7px;
	/* box-shadow: 0px 0px 6px 2px #ececec; */
}

.app-fieldset legend {
	float: none;
	margin: 0;
	padding: 0 3px;
	font-size: 17px;
	background: #fff;
	width: auto;
	border-radius: 10px;
	color: #666;
}

.app-heading sup {
	font-size: 12px;
	color: #985eb5;
	border: 1px solid;
	border-radius: 6px;
	padding: 0px 4px;
	font-weight: 600;
}
.app-form label {
	color: #985eb5;
}
.app-form input {
	color: #5c5c5c !important;
}
.btn-primary{
    background-color: #985eb5 !important;
    border-color: inherit !important;
}

/*Footer*/
.app-footer {
	/* position: fixed; */
	bottom: 0;
	margin: 0;
	width: 100%;
	line-height: 60px;
	background-color: #f5f5f5;
}

@media only screen and (max-width:990px){
	#navbarSupportedContent {
		position: absolute;
		right: 57px;
		top: 78px;
		background: white;
		width: 86%;
		padding: 0 10px;
		box-shadow: 0px 0px 1px 3px #f0f0f0;
		border-radius: 5px;
		z-index: 1;
	}
}

.facebook-ic {
	color: #0d8bf1;
}

.insta-ic{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin-ic{
    color:#0077b5;
}
 
/* Table */
th,td {
	text-transform: capitalize;
}

/* Loader */
.loader{
	display: none;
}
.loader-body {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	background: #ffffffb8;
	display: flex;
	justify-content: center;
}

.container-fluid.loader img {
	width: 170px;
	height: 170px;
	margin: auto;
}

/* progress */
.progress {
	position: relative;
	height: 100% !important;
	background-color: transparent !important;
	margin: 0 auto;
}
.progress-data {
	position: absolute;
	/* left: 54px; */
	top: 60px;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	text-align: center;
	/* color: var(--app-color-secondary); */
}
.progress-wrapper {
	margin: 20px;
	margin: 10px auto;
	min-height: 400px;
	display: block;
	position: relative;
	display: flex;
}

.progress1 .progress-data{
	color:red;
}
.progress2 .progress-data{
	color:green;
}
.progress3 .progress-data{
	color:var(--app-color-primary);
}
